<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style/bootstrap-theme.min.css">

    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/app.js"></script>
</head>
<body ng-controller="EventsController">

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Subscriptions</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped subscriptions-list">
            <thead>
            <tr>
                <td>Status</td>
                <td>Company</td>
                <td>Edition</td>
                <td>Items</td>
            </tr>
            </thead>
            <tr ng-repeat="subscription in subscriptions">
                <td>{{subscription.status}}</td>
                <td>{{subscription.companyName}}</td>
                <td>{{subscription.editionCode}}</td>
                <td><span ng-if="$middle">, </span><span ng-repeat="item in subscription.order.items">{{item.quantity}} {{item.unit}} </span>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Events</h3>
    </div>
    <div class="panel-body">

        <table class="table table-striped events-list">
            <thead>
            <tr>
                <td>Event type</td>
                <td>Payload</td>
            </tr>
            </thead>
            <tr ng-repeat="event in events">
                <td>{{event.type}}</td>
                <td>{{event.payload}}</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>