body {
    font-family: Verdana, sans-serif;
}

.events-list .header {
    font-weight: bold;
}

.events-list .header td {
    padding: 15px 0;
}

.events-list .odd {
    background-color: #f3f3f3;

}

.events-list .even {

}